* {
    margin: 20px;
    padding: 10px;

}

.card{
    width: 450px;
    /* border:2px solid black; */
    border-radius: 15px;
    /* box-sizing: border-box; */
    padding: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.80);

}
.card h3{
    font-size: 20px;
    margin-bottom: 10px;
}
.card>p{
    margin-top: 15px;
    color:rgb(139, 138, 138);
}


.card:hover.btn {
     transform: translateY(-10px); 
     /* background-color: rgb(247, 156, 156); */
}

.card h3{
         transform: translateY(-10px);
         /* background:blue ; */
         /* color:blue */
         

}

.btn{
    width: 90%;
    padding:10px;
    border-radius: 10px;
    margin-right: 20px;
    font-weight: 500;

}
.btn:hover{
    background-color: aqua;


}
.para{
    display: flex;
    margin-right: 20px;
    gap:5px;
    justify-content: center;
    align-items: center;
    
    /* margin-bottom: 15px; */
}
.para>p{
    background-color: rgba(192, 183, 183, 0.89);
}


    

    

.btn:hover+.h3{
    color:blue;

}

