*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, sans-serif;
   
   }

.header{
    font-size: 40px;

}
ul{
   margin-left: 800px; 
}

li{
    list-style-type: none;
    display: inline;
    
    
}
.navLink{
    text-decoration: none;
    margin-left: 20px;
}
